body{
    background-color: #9292AE;
}

.container{
    height: 1000px;
    display: flex;
    gap: 20px;

}

.container div {
    /* border: 30px solid; */
    width: 100%;
    /* height: 500px; */
}

#one{
    background-color: #EA4C3C;
    border-radius: 20px;
    width: 250px;
}

#two{
    background-color: #9292AE;
    height: 880px;
    margin-top: 50px;
    margin-left: -150px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 300px;
    /* gap: 20px; */
}


.three{
    height: 850px;
    margin-top: 50px;
    margin-left: -20px;
    background-color: #F1F1FB;
}