body{
    height: 850px;
    background-color: #9292AE;
}
*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;
}

.content{
    display: flex;
    float: left;
    border: 1px solid red;
    width: 70%;
    height: 80%;
    /* margin: 5% auto; */
    margin-left: 400px;
    margin-top: 7%;
}

.redminor{
    display: flex;
    border: 1px solid blue;
    width: 20%;
    height: 120%;
    margin-left: -300px;
    margin-top: -60px;
    border-radius: 20px;
    background-color: #EA4C3C;

}

.notred{
    display: flex;
    border: 1px solid yellow;
    flex-direction: column;
    align-content: space-between;
    row-gap: 13px;
    column-gap: px;
    width: 20%;
    height: 100%;
    /* float: left; */
    margin-left: -218px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}